<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.coenraets.employeedirectory"
        versionCode="10"
        version   = "1.1.0">
<plugin name="org.apache.cordova.camera" spec="0.2.3" source="pgb" />
<plugin name="cordova-plugin-geolocation" spec="1.0.1" source="pgb" />
<plugin name="cordova-plugin-contacts" spec="1.1.0" source="pgb" />
    <!-- versionCode is optional and Android only -->

    <name>Employee Directory</name>

    <description>
        A simple employee directory application
    </description>

    <author href="http://coenraets.org" email="ccoenraets@gmail.com">
        Christophe Coenraets
    </author>

</widget>
